---
---

@import "minima";

img {
    max-width: 100%;
    clear: both;
    display: block;
    border: solid 1px #333;
    margin: 1em 0;
}

body { padding: 1em; }

.container { display: flex; align-items: stretch; }

.navigation { width: 28%; }

.content { width: 70%; }