---
---

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './normalize.css';

body { 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header-nav {
    display: none;
}

.navigation {
    float: left;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    background: #ffffff;
}

#is-nav-visible {
    visibility: hidden;
}

.navigation-list {
    margin: 0 1rem 1rem 1rem;
    padding: 0;
}

li {
    list-style: outside none;
}

a:visited {
    color: #999999;
}

a:hover {
    text-decoration: none;
}

.content {
    display: inline-block;
    max-width: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    padding-left: 1rem;
}

img {
    max-width: 100%;
}

@media all and (max-width: 48rem) {
    header {
        border-bottom: solid 1px #999999;
        position: fixed;
        width: 100%;
        background: #ffffff;
        display: flex;
        align-items: center;
    }
    h1 {
        font-size: 1rem;
        margin: 1rem;
    }
    .header-nav {
        display: block;
        background: #ffffff;
        height: 1.5rem;
    }
    .header-nav:hover {
        cursor: pointer;
    }
    .navigation {
        display: none;
        position: fixed;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
    }
    #is-nav-visible:checked+.navigation {
        display: block;
    }
    .content {
        margin-top: 3rem;
        max-width: initial;
    }
}