---
---

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './normalize.css';

$color-grey: #999;
$color-white: #fff;
$color-black: #222;
$color-pale-blue: #79c;

body { 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    border-bottom: solid 1px $color-grey;
}

h1 {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.header-nav {
    display: none;
}

.navigation {
    float: left;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
    background: $color-white;
    width: 15rem;
}

#is-nav-visible {
    visibility: hidden;
}

.navigation-list {
    margin: 0 1rem 1rem 1rem;
    padding: 0;
    list-style: outside none;
}

ul {
    list-style-type: "- ";
    list-style-position: inside;
    padding: 0;
}

a:visited {
    color: $color-grey;
}

a:hover {
    text-decoration: none;
}

.content {
    display: inline-block;
    max-width: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 40rem;
}

header {
    padding-left: 1rem;
}

img {
    max-width: 100%;
}

.container {
    margin-bottom: 3.5rem;
    border-bottom: solid 1px $color-grey;
}

@media all and (max-width: 48rem) {
    header {
        position: fixed;
        width: 100%;
        background: $color-white;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    h1 {
        font-size: 1rem;
        margin: 1rem;
    }
    .header-nav {
        display: block;
        background: $color-white;
        height: 1.5rem;
    }
    .header-nav:hover {
        cursor: pointer;
    }
    .navigation {
        display: none;
        position: fixed;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        width: 15rem;
        z-index: 1;
    }
    #is-nav-visible:checked+.navigation {
        display: block;
    }
    .content {
        margin-top: 3rem;
        max-width: initial;
    }
    .header-nav i {
        min-width: 2rem;
        text-align: center;
        color: $color-grey;
    }
}

@media(prefers-color-scheme: dark) {
    body,
    .navigation,
    header,
    .header-nav {
        background-color: $color-black;
    } 
    body {
        color: $color-grey;
    }
    a:link {
        color: $color-pale-blue;
    }
    img {
      filter: grayscale(50%);
    }
}