<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="screen" rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
        <link media="screen" rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <title>{{ site.title }}: {{ page.title }}</title>
    </head>
    <body>
        <header>
            <label class="header-nav" for="is-nav-visible">
                <i class="header-menu"></i>
            </label>
            <h1>
                <a href="/">{{ site.title }}</a>
            </h1>
        </header>
        <div class="container">
            <input type="checkbox" id="is-nav-visible" />
            {% include nav.html %}
            <section class="content">
                {{content}}
            </section>
        </div>
    </body>
</html>