<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="screen" rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
        <link media="screen" rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <title>Kilimanjaro, Tanzania 2013: {{ page.title }}</title>
    </head>
    <body>
        <header>
            <label class="header-nav" for="is-nav-visible">
                <i class="header-menu"></i>
            </label>
            <h1>
                <a href="/">Kilimanjaro, Tanzania 2013</a>
            </h1>
        </header>
        <div class="container">
            <input type="checkbox" id="is-nav-visible" />
            {% include nav.html %}
            <section class="content">
                {{content}}
            </section>
        </div>
        <script src="/static/js/main.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2C3R6WDHVP"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2C3R6WDHVP');
        </script>
    </body>
</html>