<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/static/css/main.css" />
        <title>Everest Base Camp, Nepal 2011: {{ page.title }}</title>
    </head>
    <body>
<h1>Everest Base Camp, Nepal 2011</h1>
        <div class="container">

            <section class="content">
                {{content}}
            </section>
            {% include nav.html %}
        </div>
        <script src="{{site.baseurl}}/static/js/main.js"></script>
    </body>
</html>